# Lab 6 - Databases and Large Data

So far in the course we have looked at various techniques for dealing with data, manipulating text and files and even how to scrape websites for data. But sometimes we want data from a pre-existing dataset such as those provided by [Statistics Canada](https://www.statcan.gc.ca/eng/start) or other data collecting agencies. The way we access these datasets is by downloading them from their respective websites or we can sometimes use an API, or application program interface, to import the data directly into our code.

Other ways of getting data is from a database. Databases are ways to store lots of data and they come with a query language. A query language allows users to pull data from the database using various keywords.

In this lab we will look at how to use APIs and how to turn them into a database so that we can practise using a query language.

The data set that we will be working with today is the [US 2013 language survey](https://www.census.gov/data/developers/data-sets/language-stats.html). We will learn how to call the API and get the language statistics for a specific language. Once we have this data we will turn it into a mySQL database.

The hardest part about obtaining data from an API call is structuring the API call correctly. For the API that we will work with the base link that we will use is `https://api.census.gov/data/2013/language?` This is known as the API call and we will be adding our arguments after the question mark. In order to get data we need to specify what we want, in our case we want to get the number of speakers, the language and the state name. To get this we add `get=EST,LANLABEL,NAME`. To find out what each label does we could reference the [API documentation](https://api.census.gov/data/2013/language/variables.html). Finally we need to specify for which state we want the data and what language we want. We add `&for=state:*` where the * means we want all states and we add `&LAN=625` to get the Spanish language data. You can reference the [language codes document](https://www2.census.gov/programs-surveys/demo/about/language-use/primary_language_list.pdf) to find the correct code for each language. 

In the following code block we put all this information together to get our data.

In [1]:
# we import the requests library as we will use this to obtain the data from the API
import requests

# we get a response from the api using requests.get() and store it in the response variable
response = requests.get("https://api.census.gov/data/2013/language?get=EST,LANLABEL,NAME&for=state:*&LAN=625")

# we can check if everything went correctly by printing the status code. 200 means everything went well
print("API status code:", response.status_code)

# we can also print the raw contents of our requests by calling content
# comment the following line out if you want to see the contents
print(response.content)

API status code: 200
b'[["EST","LANLABEL","NAME","LAN","state"],\n["151385","Spanish","Alabama","625","01"],\n["22425","Spanish","Alaska","625","02"],\n["1230730","Spanish","Arizona","625","04"],\n["143540","Spanish","Arkansas","625","05"],\n["10105385","Spanish","California","625","06"],\n["565060","Spanish","Colorado","625","08"],\n["371025","Spanish","Connecticut","625","09"],\n["57255","Spanish","Delaware","625","10"],\n["44455","Spanish","District of Columbia","625","11"],\n["3640735","Spanish","Florida","625","12"],\n["709565","Spanish","Georgia","625","13"],\n["25490","Spanish","Hawaii","625","15"],\n["114560","Spanish","Idaho","625","16"],\n["1570810","Spanish","Illinois","625","17"],\n["277380","Spanish","Indiana","625","18"],\n["113175","Spanish","Iowa","625","19"],\n["195105","Spanish","Kansas","625","20"],\n["104470","Spanish","Kentucky","625","21"],\n["150415","Spanish","Louisiana","625","22"],\n["11600","Spanish","Maine","625","23"],\n["378010","Spanish","Maryland","625","24"],\n["502615","Spanish","Massachusetts","625","25"],\n["270695","Spanish","Michigan","625","26"],\n["192115","Spanish","Minnesota","625","27"],\n["65295","Spanish","Mississippi","625","28"],\n["148040","Spanish","Missouri","625","29"],\n["13930","Spanish","Montana","625","30"],\n["119505","Spanish","Nebraska","625","31"],\n["517935","Spanish","Nevada","625","32"],\n["26815","Spanish","New Hampshire","625","33"],\n["1277000","Spanish","New Jersey","625","34"],\n["553050","Spanish","New Mexico","625","35"],\n["2705225","Spanish","New York","625","36"],\n["658940","Spanish","North Carolina","625","37"],\n["9190","Spanish","North Dakota","625","38"],\n["241650","Spanish","Ohio","625","39"],\n["224325","Spanish","Oklahoma","625","40"],\n["319160","Spanish","Oregon","625","41"],\n["525220","Spanish","Pennsylvania","625","42"],\n["109455","Spanish","Rhode Island","625","44"],\n["195870","Spanish","South Carolina","625","45"],\n["16215","Spanish","South Dakota","625","46"],\n["232395","Spanish","Tennessee","625","47"],\n["6983380","Spanish","Texas","625","48"],\n["245945","Spanish","Utah","625","49"],\n["6180","Spanish","Vermont","625","50"],\n["506650","Spanish","Virginia","625","51"],\n["521720","Spanish","Washington","625","53"],\n["18310","Spanish","West Virginia","625","54"],\n["243560","Spanish","Wisconsin","625","55"],\n["25530","Spanish","Wyoming","625","56"],\n["3291955","Spanish","Puerto Rico","625","72"]]'

The data that we get from the the API call is very structured and easy to work with. However if we just call the content there are some artefacts that we dont want such as the "\n" in between all the lists. To get rid of this we will use something called JSON. You can think of JSON files as normal text files that are structured in a specific way that is easy to work with. To read up on JSON files you can follow the tutorial [here](https://beginnersbook.com/2015/04/json-tutorial/). While it is written from the perspective of a Javascript developer, it is still a good introduction, so don't worry about some of the particular code snippets you may not fully understand.

In the following code snippet we will turn the raw data that we receive from the API into a workable Python list.

In [2]:
# import the JSON module
import json

# save the JSON data from the API into a python list
data = response.json()

# each item in the list, except the first, is a state
# we can iterate over each item and print it
for state in data:
    print(state)

['EST', 'LANLABEL', 'NAME', 'LAN', 'state']
['151385', 'Spanish', 'Alabama', '625', '01']
['22425', 'Spanish', 'Alaska', '625', '02']
['1230730', 'Spanish', 'Arizona', '625', '04']
['143540', 'Spanish', 'Arkansas', '625', '05']
['10105385', 'Spanish', 'California', '625', '06']
['565060', 'Spanish', 'Colorado', '625', '08']
['371025', 'Spanish', 'Connecticut', '625', '09']
['57255', 'Spanish', 'Delaware', '625', '10']
['44455', 'Spanish', 'District of Columbia', '625', '11']
['3640735', 'Spanish', 'Florida', '625', '12']
['709565', 'Spanish', 'Georgia', '625', '13']
['25490', 'Spanish', 'Hawaii', '625', '15']
['114560', 'Spanish', 'Idaho', '625', '16']
['1570810', 'Spanish', 'Illinois', '625', '17']
['277380', 'Spanish', 'Indiana', '625', '18']
['113175', 'Spanish', 'Iowa', '625', '19']
['195105', 'Spanish', 'Kansas', '625', '20']
['104470', 'Spanish', 'Kentucky', '625', '21']
['150415', 'Spanish', 'Louisiana', '625', '22']
['11600', 'Spanish', 'Maine', '625', '23']
['378010', 'Spanish', 'Maryland', '625', '24']
['502615', 'Spanish', 'Massachusetts', '625', '25']
['270695', 'Spanish', 'Michigan', '625', '26']
['192115', 'Spanish', 'Minnesota', '625', '27']
['65295', 'Spanish', 'Mississippi', '625', '28']
['148040', 'Spanish', 'Missouri', '625', '29']
['13930', 'Spanish', 'Montana', '625', '30']
['119505', 'Spanish', 'Nebraska', '625', '31']
['517935', 'Spanish', 'Nevada', '625', '32']
['26815', 'Spanish', 'New Hampshire', '625', '33']
['1277000', 'Spanish', 'New Jersey', '625', '34']
['553050', 'Spanish', 'New Mexico', '625', '35']
['2705225', 'Spanish', 'New York', '625', '36']
['658940', 'Spanish', 'North Carolina', '625', '37']
['9190', 'Spanish', 'North Dakota', '625', '38']
['241650', 'Spanish', 'Ohio', '625', '39']
['224325', 'Spanish', 'Oklahoma', '625', '40']
['319160', 'Spanish', 'Oregon', '625', '41']
['525220', 'Spanish', 'Pennsylvania', '625', '42']
['109455', 'Spanish', 'Rhode Island', '625', '44']
['195870', 'Spanish', 'South Carolina', '625', '45']
['16215', 'Spanish', 'South Dakota', '625', '46']
['232395', 'Spanish', 'Tennessee', '625', '47']
['6983380', 'Spanish', 'Texas', '625', '48']
['245945', 'Spanish', 'Utah', '625', '49']
['6180', 'Spanish', 'Vermont', '625', '50']
['506650', 'Spanish', 'Virginia', '625', '51']
['521720', 'Spanish', 'Washington', '625', '53']
['18310', 'Spanish', 'West Virginia', '625', '54']
['243560', 'Spanish', 'Wisconsin', '625', '55']
['25530', 'Spanish', 'Wyoming', '625', '56']
['3291955', 'Spanish', 'Puerto Rico', '625', '72']

As you see above, getting data from an API is fairly simple and returns the data in a very structured format. Finish the following code block in which I have provided some skeleton code and retrieve French language statistics from the API.

In [6]:
# request the french data, hint: change the url used above to get the correct data
# you'll need to look up the French code in the document above

french_request = requests.get("https://api.census.gov/data/2013/language?get=EST,LANLABEL,NAME&for=state:*&LAN=620") 
# insert the right URL

# check if the response is correct
print("API status code:", french_request.status_code)

# format the data using JSON
frenchData = french_request.json()

for state in frenchData:
    print(state)
    
#EST = People who speak the language
#LANLABEL = Language category label
#NAME = Geography name
#LAN39 = Language families in 39 major categories
#state = FIPS state code

API status code: 200
['EST', 'LANLABEL', 'NAME', 'LAN', 'state']
['7195', 'French', 'Alabama', '620', '01']
['2165', 'French', 'Alaska', '620', '02']
['16480', 'French', 'Arizona', '620', '04']
['4260', 'French', 'Arkansas', '620', '05']
['124980', 'French', 'California', '620', '06']
['16045', 'French', 'Colorado', '620', '08']
['30575', 'French', 'Connecticut', '620', '09']
['3320', 'French', 'Delaware', '620', '10']
['8360', 'French', 'District of Columbia', '620', '11']
['107290', 'French', 'Florida', '620', '12']
['35800', 'French', 'Georgia', '620', '13']
['4405', 'French', 'Hawaii', '620', '15']
['3265', 'French', 'Idaho', '620', '16']
['35005', 'French', 'Illinois', '620', '17']
['13770', 'French', 'Indiana', '620', '18']
['5440', 'French', 'Iowa', '620', '19']
['4715', 'French', 'Kansas', '620', '20']
['7995', 'French', 'Kentucky', '620', '21']
['101330', 'French', 'Louisiana', '620', '22']
['45350', 'French', 'Maine', '620', '23']
['50635', 'French', 'Maryland', '620', '24']
['60905', 'French', 'Massachusetts', '620', '25']
['24590', 'French', 'Michigan', '620', '26']
['14765', 'French', 'Minnesota', '620', '27']
['4315', 'French', 'Mississippi', '620', '28']
['14380', 'French', 'Missouri', '620', '29']
['2305', 'French', 'Montana', '620', '30']
['4755', 'French', 'Nebraska', '620', '31']
['7940', 'French', 'Nevada', '620', '32']
['24025', 'French', 'New Hampshire', '620', '33']
['35985', 'French', 'New Jersey', '620', '34']
['4805', 'French', 'New Mexico', '620', '35']
['133535', 'French', 'New York', '620', '36']
['26580', 'French', 'North Carolina', '620', '37']
['895', 'French', 'North Dakota', '620', '38']
['28005', 'French', 'Ohio', '620', '39']
['5030', 'French', 'Oklahoma', '620', '40']
['11275', 'French', 'Oregon', '620', '41']
['38870', 'French', 'Pennsylvania', '620', '42']
['10650', 'French', 'Rhode Island', '620', '44']
['11035', 'French', 'South Carolina', '620', '45']
['975', 'French', 'South Dakota', '620', '46']
['11750', 'French', 'Tennessee', '620', '47']
['60730', 'French', 'Texas', '620', '48']
['6645', 'French', 'Utah', '620', '49']
['9310', 'French', 'Vermont', '620', '50']
['31915', 'French', 'Virginia', '620', '51']
['22710', 'French', 'Washington', '620', '53']
['3105', 'French', 'West Virginia', '620', '54']
['12380', 'French', 'Wisconsin', '620', '55']
['1000', 'French', 'Wyoming', '620', '56']
['1015', 'French', 'Puerto Rico', '620', '72']

We could stop here and start analyzing our data since it is in a very workable fromat. For this lab, however, the focus isn't on analyzing data but it is about how to manage and store big amounts of data. For this we will start to learn how to use a database. Databases are used to store data in a structured and easy to use format. A database is kind of like a csv in that it is a big table with rows and columns. In this lab we will use SQLite to introduce ourselves to database setup and handling.

To use the SQLite database that we will be using you need to know some of the basic commands and syntax of SQL. Read through the following tutorial to learn more about SQL and its commands: [SQL guide](https://learntocodewith.me/posts/sql-guide/). Now that you know what SQL is we can get into creating a database and creating our first table to store the language statistics we pulled from the API. 

One difference with SQLite is how we create a database. We dont need to call the `CREATE DATABASE` statement like it says in the SQL guide you just read. Instead of calling a statement we just connect to a database which is created automatically if it doesn't exist yet.

In [7]:
# import SQLite
import sqlite3

# our first step is to connect to our database file
# this step replaces the "CREATE DATABASE" step
conn = sqlite3.connect("./test2.db")

# this is our SQL statement that we will call through python
tableStatement = """CREATE TABLE IF NOT EXISTS spanishData (
                        numSpeakers integer, 
                        language text, 
                        state text, 
                        languageCode integer,
                        stateCode integer PRIMARY KEY);"""

# the cursor 'c' allows us to execute commands on the database
c = conn.cursor()
c.execute(tableStatement)

We have created a table in the last code block, so let's explore the tableStatement that we used to create it. "CREATE TABLE" is the statement that we call and everything else are the arguments. "IF NOT EXISTS" makes sure we do not create a duplicate table called "spanishData". Inside of the parentheses are the table headers, so we created columns for item from our API data. Notice the "PRIMARY KEY" label after the stateCode. This label lets the table know that this item in the list must be unique for each data point. Because this item will be unique for each data point, we can use it in the future if we need to change data for a specific data point. Now let's look at how to add our data to the database.

Statements like the one we used to create the table are very important for database management. These SQL statements are the only way we can interact with the database. Python just helps us execute these SQL statements.

In [8]:
# the SQL INSERT statement that we will use to add data to the database
sql = """INSERT INTO spanishData(
            numSpeakers, language, state, languageCode, stateCode)
            VALUES(?,?,?,?,?)"""

# loop over each data point from the API
# notice we skip data[0] since this contains the original headers from the API

#for result in cursor.execute(operation, multi=True):

for i in range(1, 53):
    c.execute(sql, data[i])

#should not be c.commit(), should be conn.commit()
conn.commit()

Now let's look at how we can update a data point and then subsequently delete it. Let's pretend a new survey was run in Puerto Rico (state code=72) and found out that there are actually 4,100,000 Spanish speakers. We will update our data entry for Puerto Rico with that number first and then we will delete the entry.

In [9]:
# first we write our SQL statement
sql = """UPDATE spanishData 
         SET numSpeakers = 4100000
         WHERE stateCode = 72"""

# notice we only pass one argument to the execute command, namely our SQL statement
# this is because we entered all the data directly into the command instead of 
# using the placeholder '?'
c.execute(sql)
conn.commit()

# You can also entirely delete the Puerto Rico entry or any other entry
# Do one or the other (above to update, below to delete)
# delSQL = """DELETE FROM spanishData
#            WHERE stateCode = 72"""
            
# c.execute(delSQL)
# conn.commit()

You might be wondering how we can see if any of these commands actually worked, well, this is where we can use the `SELECT` statement. This statement allows you to select one or multiple data points from your database. Let's look at how to retrieve one data point and all of the data from the database.

In [10]:
# first we select all data points from spanishData
# * here will select all columns for each row
selectAll = "SELECT * FROM spanishData"

# execute the SQL statement
c.execute(selectAll)

# we retrieve the data we selected from the cursor
data = c.fetchall()

# now we can loop through the data and print it
for row in data:
    print(row)

(151385, 'Spanish', 'Alabama', 625, 1)
(22425, 'Spanish', 'Alaska', 625, 2)
(1230730, 'Spanish', 'Arizona', 625, 4)
(143540, 'Spanish', 'Arkansas', 625, 5)
(10105385, 'Spanish', 'California', 625, 6)
(565060, 'Spanish', 'Colorado', 625, 8)
(371025, 'Spanish', 'Connecticut', 625, 9)
(57255, 'Spanish', 'Delaware', 625, 10)
(44455, 'Spanish', 'District of Columbia', 625, 11)
(3640735, 'Spanish', 'Florida', 625, 12)
(709565, 'Spanish', 'Georgia', 625, 13)
(25490, 'Spanish', 'Hawaii', 625, 15)
(114560, 'Spanish', 'Idaho', 625, 16)
(1570810, 'Spanish', 'Illinois', 625, 17)
(277380, 'Spanish', 'Indiana', 625, 18)
(113175, 'Spanish', 'Iowa', 625, 19)
(195105, 'Spanish', 'Kansas', 625, 20)
(104470, 'Spanish', 'Kentucky', 625, 21)
(150415, 'Spanish', 'Louisiana', 625, 22)
(11600, 'Spanish', 'Maine', 625, 23)
(378010, 'Spanish', 'Maryland', 625, 24)
(502615, 'Spanish', 'Massachusetts', 625, 25)
(270695, 'Spanish', 'Michigan', 625, 26)
(192115, 'Spanish', 'Minnesota', 625, 27)
(65295, 'Spanish', 'Mississippi', 625, 28)
(148040, 'Spanish', 'Missouri', 625, 29)
(13930, 'Spanish', 'Montana', 625, 30)
(119505, 'Spanish', 'Nebraska', 625, 31)
(517935, 'Spanish', 'Nevada', 625, 32)
(26815, 'Spanish', 'New Hampshire', 625, 33)
(1277000, 'Spanish', 'New Jersey', 625, 34)
(553050, 'Spanish', 'New Mexico', 625, 35)
(2705225, 'Spanish', 'New York', 625, 36)
(658940, 'Spanish', 'North Carolina', 625, 37)
(9190, 'Spanish', 'North Dakota', 625, 38)
(241650, 'Spanish', 'Ohio', 625, 39)
(224325, 'Spanish', 'Oklahoma', 625, 40)
(319160, 'Spanish', 'Oregon', 625, 41)
(525220, 'Spanish', 'Pennsylvania', 625, 42)
(109455, 'Spanish', 'Rhode Island', 625, 44)
(195870, 'Spanish', 'South Carolina', 625, 45)
(16215, 'Spanish', 'South Dakota', 625, 46)
(232395, 'Spanish', 'Tennessee', 625, 47)
(6983380, 'Spanish', 'Texas', 625, 48)
(245945, 'Spanish', 'Utah', 625, 49)
(6180, 'Spanish', 'Vermont', 625, 50)
(506650, 'Spanish', 'Virginia', 625, 51)
(521720, 'Spanish', 'Washington', 625, 53)
(18310, 'Spanish', 'West Virginia', 625, 54)
(243560, 'Spanish', 'Wisconsin', 625, 55)
(25530, 'Spanish', 'Wyoming', 625, 56)
(4100000, 'Spanish', 'Puerto Rico', 625, 72)

In [11]:
# to fetch only one item we just add the WHERE statement
# we can either replace the ? by the code for the state we want
# or we can pass the state we want as an argument to execute()
selectOne = "SELECT * FROM spanishData WHERE stateCode=?"

c.execute(selectOne, (2,))
data = c.fetchall()

print(data)

# at the end, close the db
# this close command is commented, because you will need it open for the final task below

# c.close()

[(22425, 'Spanish', 'Alaska', 625, 2)]

For learning more about SQL and the various statements it supports you can read through the tutorial from w3schools: [SQL](https://www.w3schools.com/sql/). Just keep in mind that we are using SQLite, which doesn't necessarily support some of the more advanced statements such as the ones listed [here](https://www.sqlite.org/omitted.html) but don't worry about those since you will most likely not use them anytime soon.

For the final task you will create a new table in the languageData database for the French data that you retrieved. I have set up some skeleton code for you to stat working with.

In [12]:
#Finding out length of french data
print(len(frenchData))

53

In [13]:
# since you are still connected to the database you wont need to create a new connection
# (except if you closed it above)

# start with writing the SQL statement for creating a new table
frenchTable = """CREATE TABLE IF NOT EXISTS frenchData (
                    numSpeakers integer,
                    language text,
                    state text,
                    languageCode integer,
                    stateCode integer PRIMARY KEY);"""

# the cursor should also still be active so we can just call the execute function
c.execute(frenchTable)

# write the insert statement for the frenchData
insert = """INSERT INTO frenchData(
            numSpeakers, language, state, languageCode, stateCode)
            VALUES(?,?,?,?,?)"""

# fill in the correct range and the code inside the for loop
# remember we want to skip frenchData[0] since those are old headers
for i in range(1, 53):
    c.execute(insert, frenchData[i])
    
    
# after the commands are ran we need to commit to the database
conn.commit()

In [14]:
# first we select all data points from spanishData
# * here will select all columns for each row
selectAllFr = "SELECT * FROM frenchData"

# execute the SQL statement
c.execute(selectAllFr)

# we retrieve the data we selected from the cursor
dataFr = c.fetchall()

# now we can loop through the data and print it
for row in dataFr:
    print(row)

# close the db

c.close()

(7195, 'French', 'Alabama', 620, 1)
(2165, 'French', 'Alaska', 620, 2)
(16480, 'French', 'Arizona', 620, 4)
(4260, 'French', 'Arkansas', 620, 5)
(124980, 'French', 'California', 620, 6)
(16045, 'French', 'Colorado', 620, 8)
(30575, 'French', 'Connecticut', 620, 9)
(3320, 'French', 'Delaware', 620, 10)
(8360, 'French', 'District of Columbia', 620, 11)
(107290, 'French', 'Florida', 620, 12)
(35800, 'French', 'Georgia', 620, 13)
(4405, 'French', 'Hawaii', 620, 15)
(3265, 'French', 'Idaho', 620, 16)
(35005, 'French', 'Illinois', 620, 17)
(13770, 'French', 'Indiana', 620, 18)
(5440, 'French', 'Iowa', 620, 19)
(4715, 'French', 'Kansas', 620, 20)
(7995, 'French', 'Kentucky', 620, 21)
(101330, 'French', 'Louisiana', 620, 22)
(45350, 'French', 'Maine', 620, 23)
(50635, 'French', 'Maryland', 620, 24)
(60905, 'French', 'Massachusetts', 620, 25)
(24590, 'French', 'Michigan', 620, 26)
(14765, 'French', 'Minnesota', 620, 27)
(4315, 'French', 'Mississippi', 620, 28)
(14380, 'French', 'Missouri', 620, 29)
(2305, 'French', 'Montana', 620, 30)
(4755, 'French', 'Nebraska', 620, 31)
(7940, 'French', 'Nevada', 620, 32)
(24025, 'French', 'New Hampshire', 620, 33)
(35985, 'French', 'New Jersey', 620, 34)
(4805, 'French', 'New Mexico', 620, 35)
(133535, 'French', 'New York', 620, 36)
(26580, 'French', 'North Carolina', 620, 37)
(895, 'French', 'North Dakota', 620, 38)
(28005, 'French', 'Ohio', 620, 39)
(5030, 'French', 'Oklahoma', 620, 40)
(11275, 'French', 'Oregon', 620, 41)
(38870, 'French', 'Pennsylvania', 620, 42)
(10650, 'French', 'Rhode Island', 620, 44)
(11035, 'French', 'South Carolina', 620, 45)
(975, 'French', 'South Dakota', 620, 46)
(11750, 'French', 'Tennessee', 620, 47)
(60730, 'French', 'Texas', 620, 48)
(6645, 'French', 'Utah', 620, 49)
(9310, 'French', 'Vermont', 620, 50)
(31915, 'French', 'Virginia', 620, 51)
(22710, 'French', 'Washington', 620, 53)
(3105, 'French', 'West Virginia', 620, 54)
(12380, 'French', 'Wisconsin', 620, 55)
(1000, 'French', 'Wyoming', 620, 56)
(1015, 'French', 'Puerto Rico', 620, 72)